.nav {
  width: 100%;
  height: 144px;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  .inner {
    width: 100%;
    max-width: 1920px;
    padding: 0 64px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-size: 32px;
      font-weight: 600;
    }
    .modeBtn {
      width: 120px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      gap: 8px;
      background-color: #EDEDED;
      position: relative;
      &::after {
        content: '';
        display: block;
        width: 48px;
        height: 48px;
        background-color: #fff;
        border-radius: 999px;
        position: absolute;
        left: 8px;
        top: 8px;
        z-index: 1;
        transition: all 0.3s ease-in-out;
      }
      img {
        width: 24px;
        height: 24px;
        position: relative;
        z-index: 2;
      }
      &.light {
        &::after {
          left: 8px;
        }
      }
      &.dark {
        &::after {
          left: 64px;
        }
      }
    }
    .searchBtn {
      width: 64px;
      height: 64px;
      padding: 0;
      img {
        width: 32px;
        height: 32px;
      }
    }
    .loginBtn, .logoutBtn {
      width: 64px;
      height: 64px;
      padding: 0;
      background-color: #000;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 184px 0 120px;
  background: rgb(225,226,229);
  background: linear-gradient(315deg, rgba(225,226,229,1) 15%, rgba(207,207,220,1) 100%);
  position: relative;
  &::after {
    content: 'Board';
    display: block;
    cursor: default;
    font-size: 400px;
    line-height: 1;
    letter-spacing: -7px;
    font-weight: 500;
    background: rgb(0,0,0);
    background: linear-gradient(150deg, rgba(0,0,0,1) 15%, rgba(110,109,155,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    white-space: nowrap;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  .inner {
    width: 100%;
    max-width: 1280px;
    height: calc(100% - 48px);
    margin: 0 auto;
  }
  .title {
    font-size: 16px;
    font-weight: bold;
  }
}

.btnWrap {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.tabWrap {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  gap: 24px;
  &::before {
    content: '';
    display: block;
    width: 100vw;
    border: 1px solid #EDEDED;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 1;
  }
  .title {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
    opacity: 0.2;
    position: relative;
    &.active {
      opacity: 1;
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: #000;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
      }
    }
  }
}

#home {
  &.container {
    height: 100vh;
    .homeTitleWrap {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .bgTitle {
        cursor: default;
        font-size: 400px;
        line-height: 1;
        letter-spacing: -7px;
        font-weight: 500;
        color: transparent;
        opacity: 0;
        position: absolute;
        z-index: 2;
        &:hover {
          cursor: url(/assets/icon/icon_gotolist.svg) 5 5, auto;
        }
      }
    }
  }
}

#list {
  &.container {
    &::after {
      content: 'List';
    }
    .listWrap {
      width: 100%;
      height: auto;
      padding-top: 48px;
      display: flex;
      gap: 48px 34px;
      flex-wrap: wrap;
      li {
        width: fit-content;
        height: 540px;
        padding: 20px;
        background: url('/assets/listBox.svg') no-repeat center;
        position: relative;
        .contents {
          width: 364px;
          height: 420px;
          background-color: #fff;
          border-radius: 40px;
          &:hover {
            box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
            transition: all 0.3s;
          }
          a {
            height: 100%;
            display: block;
            padding: 20px;
            .title {
              padding-top: 12px;
              padding-left: 12px;
              color: #000;
              font-size: 32px;
              font-weight: 500;
              margin-bottom: 8px;
            }
            .date {
              padding-left: 12px;
              font-weight: 500;
              color: rgba(0, 0, 0, 0.2);
              margin-bottom: 20px;
            }
            .desc {
              padding-left: 12px;
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              color: #000;
              overflow: hidden;
              white-space: normal;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 6;
              -webkit-box-orient: vertical;
              word-break: keep-all; 
            }
          }
          .btnWrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            position: absolute;
            right: 20px;
            bottom: 20px;
            > * {
              width: 60px;
              height: 60px;
              border-radius: 999px;
              background-color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }
  }
}

#write {
  &.container {
    &::after {
      content: 'Write';
    }
    .inner {
      form {
        position: relative;
        .writeWrap {
          width: 100%;
          height: 745px;
          padding: 20px;
          background: url('/assets/writeBox.svg') no-repeat center;
          .title {
            width: 100%;
            padding: 32px 32px 16px;
            border-radius: 40px 40px 0 0;
            font-size: 32px;
            font-weight: 500;
          }
          .content {
            width: 100%;
            padding: 0 32px 7px;
            border-radius: 0 0;
            font-size: 20px;
            font-weight: 500;
          }
        }
        .imgWrap {
          width: 100%;
          padding: 20px;
          margin-top: -7px;
          background-color: #fff;
          border-radius: 0 0 40px 40px;
          display: flex;
          align-items: center;
          .fileUploadWrap {
            width: 200px;
            height: 200px;
            border-radius: 30px;
            background-color: #F5F5F5;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
              width: 28px;
              height: 28px;
            }
            p {
              color: #CFCFDC;
            }
          }
          input[type="file"] {
            display: none;
          }
          .imgListWrap {
            max-width: calc(100% - 220px);
            display: flex;
            align-items: center;
            overflow-x: auto;
            flex-shrink: 0;
            img {
              width: 200px;
              height: 200px;
              border-radius: 30px;
              object-fit: cover;
            }
          }
        }
        .btnWrap {
          position: absolute;
          right: 20px;
          bottom: 20px;
          .writeBtn {
            width: 60px;
            height: 60px;
            padding: 0;
          }
          .cancelBtn {
            width: 60px;
            height: 60px;
            background-color: #fff;
            border-radius: 999px;
            padding: 14px;
          }
          img {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}

/* dark mode */
.dark {
  .logo {
    color: #fff;
  }
  .container {
    background: rgb(7,7,32);
    background: linear-gradient(150deg, rgba(7,7,32,1) 15%, rgba(30,39,67,1) 100%);
  }
  .tabWrap {
    &::before {
      opacity: 0.3;
    }
    .title {
      &.active {
        &::after {
          background-color: #fff;
        }
      }
    }
  }
  #home {
    .container {
      .homeTitleWrap {
        .bgTitle {
          background: rgb(52,51,94);
          background: linear-gradient(315deg, rgba(52,51,94,1) 15%, rgba(255,255,255,1) 100%);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }
      }
    }
  }
  #list {
    &.container {
      .listWrap {
        li {
          .contents {
            &:hover {
              box-shadow: 2px 2px 12px rgba(255,255,255,0.3);
              transition: all 0.3s;
            }
          }
        }
      }
    }
  }
}