
#home {
  .container {
    max-width: 1920px;
    padding: 0 320px;
    margin: 0 auto;
    width: 100%;
    .imgBox {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      li {
        width: calc((100% / 3) - 15px);
        height: 100%;
        padding: 28px;
        border: 1px solid hsl(220, 14%, 92%);
        border-radius: 20px;
        box-shadow: 2px 2px 12px rgba(31, 35, 41, 0.1);
        cursor: pointer;
        &:hover {

        }
        .title {    
          font-weight: 700;
          font-size: 24px;
        }
        img {
          margin-top: 12px;
          border-radius: 20px;
        }
      }
    }
  }
}